Hotels_Reservations(2).json
{"flowContents":{"identifier":"80742bc3-7f71-363b-97bf-a95b70fa253e","instanceIdentifier":"9cf145b4-0191-1000-808b-2815e9a4ee31","name":"Hotels_Reservations(2)","comments":"","position":{"x":-264.0,"y":-216.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a3ce1fa7-31f7-3dd6-b73f-51c2f2fb9c93","instanceIdentifier":"5f641ebd-e439-310c-0e10-869ffcc6c6a5","name":"PutDatabaseRecord","comments":"","position":{"x":-1832.0,"y":-720.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"14ddd474-a68f-35e2-8dc8-aa8b267a0650","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","put-db-record-binary-format":"UTF-8","db-type":"MySQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"reservations","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"1fa2b850-227f-3e6e-902e-8064fd748264","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0000ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"8357338e-0563-3f9c-9c9a-e06a09171b13","instanceIdentifier":"a42ab29b-a7b7-3b8a-8d60-4164d9193ac1","name":"PutDatabaseRecord","comments":"","position":{"x":-2280.0,"y":384.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"14ddd474-a68f-35e2-8dc8-aa8b267a0650","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"DELETE","put-db-record-binary-format":"UTF-8","db-type":"MySQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"reservations","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"1fa2b850-227f-3e6e-902e-8064fd748264","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff80ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"693a3c0b-7a59-3dda-8f44-40ebe17e3145","instanceIdentifier":"97d498e0-5c73-3494-6589-e49fb620434c","name":"RouteOnAttribute","comments":"","position":{"x":-2800.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Routing Strategy":"Route to Property name","http.method":"${http.method:equals('GET')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"http.method":{"name":"http.method","displayName":"http.method","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#408080"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"d68bbba7-58aa-3441-998a-266dd2c293bb","instanceIdentifier":"ee3a36c0-908f-1b62-5de0-00942b7397b7","name":"LogAttribute","comments":"","position":{"x":-1160.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff8000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"8722c7f8-638a-3e22-b9e7-6e9e12e741b1","instanceIdentifier":"5b62908f-ee3a-36c0-cab1-e406e3a9e6b3","name":"LogAttribute","comments":"","position":{"x":-824.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff8000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"4c74b5ca-2e03-3ec9-8a36-e666ce8dc14c","instanceIdentifier":"9eca45f8-0191-1000-80e4-c0fd33658d93","name":"HandleHttpResponse","comments":"","position":{"x":168.0,"y":-208.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":"\"Content-Type\", \"application/json\"","mime.type":"application\\json","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff8000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"85b1107c-9a67-370a-b047-2d85c68ab78c","instanceIdentifier":"52a452aa-1854-379d-0f46-be65fbdb8e56","name":"PutFile","comments":"","position":{"x":-448.0,"y":-1208.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\PoolMUTRAF\\Downloads\\nifi-2.0.0-M4-bin\\nifi-2.0.0-M4\\logs\\logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#00ff00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"ef148f02-3b9b-367c-a91b-3ab9106f90c0","instanceIdentifier":"882ff45f-e364-3586-c24d-64933d92bbfa","name":"PutFile","comments":"","position":{"x":-152.0,"y":-640.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\YS\\Desktop\\NiFi\\nifi-2.0.0-M4-bin\\nifi-2.0.0-M4\\logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0000ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"f0bb2e01-d177-337f-aba0-3c4e90b6091e","instanceIdentifier":"8ae10976-72e6-376c-edb5-43a52ddbb2c4","name":"RouteOnAttribute","comments":"","position":{"x":-2328.0,"y":-1192.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Routing Strategy":"Route to Property name","http.method":"${http.method:equals('PUT')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"http.method":{"name":"http.method","displayName":"http.method","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#00ff00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"b1e3aa45-2977-3ac7-a671-792f69d489c0","instanceIdentifier":"76c338ed-cb05-1426-ab11-ef5b063793ea","name":"PutFile","comments":"","position":{"x":-272.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\YS\\Desktop\\NiFi\\nifi-2.0.0-M4-bin\\nifi-2.0.0-M4\\logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff8000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"48562ace-78c8-3e71-8021-104009b8244d","instanceIdentifier":"75a85891-975c-3c1e-cacb-0b8465e5b391","name":"LogAttribute","comments":"","position":{"x":-1432.0,"y":432.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff00ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"14eec3a8-3aa4-33ea-b08d-bc7c8a5fd068","instanceIdentifier":"2426cb05-76c3-38ed-07f2-42a1764d93cb","name":"PutFile","comments":"","position":{"x":-528.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\YS\\Desktop\\NiFi\\nifi-2.0.0-M4-bin\\nifi-2.0.0-M4\\logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff8000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"336aad24-98b7-348c-8ec5-1489acdaed55","instanceIdentifier":"ee3a36c5-908f-1b62-2ced-10a06c162bcf","name":"HandleHttpResponse","comments":"","position":{"x":-1648.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":"\"Content-Type\", \"application/json\"","mime.type":"application/json","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff8000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"ef5317e7-6ffd-3e91-bf8b-8ef9bfe6c42d","instanceIdentifier":"ee3a36c8-908f-1b62-bd5b-7424964a16aa","name":"HandleHttpResponse","comments":"","position":{"x":-600.0,"y":352.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":"\"Content-Type\", \"application/json\"","mime.type":"application\\json","HTTP Status Code":"404"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#408080"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"4c44611d-f790-37d0-8537-5ec452e3734b","instanceIdentifier":"da966dae-b645-3d6a-890d-9ba37464cd3d","name":"PutDatabaseRecord","comments":"","position":{"x":-1712.0,"y":-920.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"14ddd474-a68f-35e2-8dc8-aa8b267a0650","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"UPDATE","put-db-record-binary-format":"UTF-8","db-type":"MySQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"reservations","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"1fa2b850-227f-3e6e-902e-8064fd748264","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#00ff00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"c55ea383-357f-3de6-985c-506e046db58b","instanceIdentifier":"34f5c2e2-ea83-3916-7b98-f49209e785f2","name":"HandleHttpResponse","comments":"","position":{"x":-1056.0,"y":-1200.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#00ff00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"bc6fef1e-e064-3c68-8501-3c8c4675ac87","instanceIdentifier":"918662a7-634b-3776-3967-f9fa182b0195","name":"HandleHttpResponse","comments":"","position":{"x":168.0,"y":160.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":"\"Content-Type\", \"application/json\"","mime.type":"application/json","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#408080"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"90b33c7e-b176-3b4b-80ee-b4bcdf777571","instanceIdentifier":"4f484d6b-006b-34ab-705b-ae84eaa2c1a7","name":"HandleHttpResponse","comments":"","position":{"x":-2048.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":null,"mime.type":"application\\json","HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0000ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"b3c3bcd9-9897-3b7e-880d-e93105f13a36","instanceIdentifier":"f0a3c3b1-5edf-3b76-d376-9a58e0c8ee7a","name":"LogAttribute","comments":"","position":{"x":-376.0,"y":-880.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#00ff00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"4bc9a459-4982-3283-9a0b-eb9398827201","instanceIdentifier":"40bc247e-e6dd-3944-a152-2a21e75d6482","name":"ExecuteSQL","comments":"","position":{"x":-2512.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"14ddd474-a68f-35e2-8dc8-aa8b267a0650","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT *  FROM reservations ORDER BY id desc","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff8000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"b56ed61a-e87f-349f-8ed4-fb83fb07e605","instanceIdentifier":"9ec9fcc3-0191-1000-8424-1b4567a758e5","name":"ConvertRecord","comments":"","position":{"x":-64.0,"y":-448.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"81c03ad4-b354-3bd4-bab1-a2d2e3a1b4ef","Record Reader":"e9fe22da-8084-3395-b62f-c5c0fc71d42d"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff8000"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"6a2e2853-19ca-3538-b41b-ae8bdd7ffa06","instanceIdentifier":"67bdbd5e-b895-3d55-71dd-3f716690ee5d","name":"HandleHttpResponse","comments":"","position":{"x":-1704.0,"y":-1248.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#00ff00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"ce4a6561-66ab-358f-9c99-9f7134bf43e9","instanceIdentifier":"ba84718a-2df2-3790-7619-15290c1071db","name":"ExecuteSQL","comments":"","position":{"x":-1824.0,"y":136.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"14ddd474-a68f-35e2-8dc8-aa8b267a0650","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM reservations WHERE id = ${http.request.uri:substringAfter('/api/reservations/')}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#408080"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"9805699b-9d76-3b77-bdee-a71aa9fa5c23","instanceIdentifier":"237b545d-6731-3c71-72ab-747a17be65a1","name":"RouteOnAttribute","comments":"","position":{"x":-2880.0,"y":504.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Routing Strategy":"Route to Property name","http.method":"${http.method:equals('DELETE')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"http.method":{"name":"http.method","displayName":"http.method","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"e3666216-51da-3497-86aa-e44d8e926aa5","instanceIdentifier":"2a62d3da-cc92-3fe9-4ca0-94264c836a04","name":"PutFile","comments":"","position":{"x":-616.0,"y":576.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\YS\\Desktop\\NiFi\\nifi-2.0.0-M4-bin\\nifi-2.0.0-M4\\logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff80ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"062d3656-46f7-3604-8142-485b15332905","instanceIdentifier":"4c35b508-ec4d-32fb-3e72-b5cf4cd3873d","name":"HandleHttpRequest","comments":"","position":{"x":-3536.0,"y":-328.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"true","Allowed Paths":null,"Allow GET":"true","Allow HEAD":"false","Listening Port":"8080","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#408080"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"fa6ee75e-0064-3913-b058-b0646aeb1b62","instanceIdentifier":"328a02cf-2d40-3a5b-4190-b24931fda334","name":"HandleHttpResponse","comments":"","position":{"x":-848.0,"y":-736.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":null,"mime.type":"application\\json","HTTP Status Code":"201"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0000ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"2d148189-4fe8-38fc-b70e-bbd21751bcba","instanceIdentifier":"041e5256-d4a7-37c8-bff6-2b0786b634be","name":"RouteOnAttribute","comments":"","position":{"x":-2176.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"http.request.uri":"${http.request.uri:startsWith('/api/reservations/')}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"http.request.uri":{"name":"http.request.uri","displayName":"http.request.uri","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#408080"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"45444c18-b186-30eb-823c-120b54d35726","instanceIdentifier":"e62738bc-ff7a-3d73-77b5-0ab8d22afe79","name":"HandleHttpResponse","comments":"","position":{"x":-2024.0,"y":744.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff80ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"19ceadaa-adea-302f-b567-a8487758b176","instanceIdentifier":"f1a25b15-c781-3fbc-e79d-2ae6bb5b04a9","name":"LogAttribute","comments":"","position":{"x":-1288.0,"y":-576.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0000ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"ad56d6c3-3206-3945-b113-0315e50c5899","instanceIdentifier":"38d39c7d-3f0c-34b3-3aa4-1e4964623064","name":"HandleHttpResponse","comments":"","position":{"x":-1328.0,"y":704.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ff00ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"36c2cbb0-a3b7-38b6-a1f0-909ae76d648e","instanceIdentifier":"85c525eb-d062-37f9-ba5a-d89290285bbd","name":"ConvertRecord","comments":"","position":{"x":-624.0,"y":128.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"81c03ad4-b354-3bd4-bab1-a2d2e3a1b4ef","Record Reader":"e9fe22da-8084-3395-b62f-c5c0fc71d42d"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#008080"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"5f788c76-0b8d-3ff3-a806-6f54b670a969","instanceIdentifier":"de8fe5a4-bd31-31c5-ad05-17fa3adf8329","name":"RouteOnAttribute","comments":"","position":{"x":-2352.0,"y":-912.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Routing Strategy":"Route to Property name","http.method":"${http.method:equals('POST')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"http.method":{"name":"http.method","displayName":"http.method","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#0000ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"}],"inputPorts":[],"outputPorts":[{"identifier":"ee1b6495-e5cc-3a3e-9a3a-1908d9189b1c","instanceIdentifier":"afe587f1-0191-1000-c5f9-92cf7600cf76","name":"Reervatio","position":{"x":-1432.0,"y":-712.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"}],"connections":[{"identifier":"5976d231-91c8-3a24-943b-a91a1deb7dc4","instanceIdentifier":"9eca7645-0191-1000-0213-01b7cbe90202","name":"","source":{"id":"b56ed61a-e87f-349f-8ed4-fb83fb07e605","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ConvertRecord","comments":"","instanceIdentifier":"9ec9fcc3-0191-1000-8424-1b4567a758e5"},"destination":{"id":"4c74b5ca-2e03-3ec9-8a36-e666ce8dc14c","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"9eca45f8-0191-1000-80e4-c0fd33658d93"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"c94d432d-5624-3cf4-b183-92db4d48fcd4","instanceIdentifier":"9aa6edf7-3e9a-3e45-39b3-5cfa05eb2444","name":"","source":{"id":"2d148189-4fe8-38fc-b70e-bbd21751bcba","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"041e5256-d4a7-37c8-bff6-2b0786b634be"},"destination":{"id":"4bc9a459-4982-3283-9a0b-eb9398827201","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ExecuteSQL","comments":"","instanceIdentifier":"40bc247e-e6dd-3944-a152-2a21e75d6482"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"ae7aebf7-a41b-3613-a876-f73ec0a4a585","instanceIdentifier":"ee53aaa8-8fbb-3b6b-64d5-87e893d49df7","name":"","source":{"id":"c55ea383-357f-3de6-985c-506e046db58b","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"34f5c2e2-ea83-3916-7b98-f49209e785f2"},"destination":{"id":"b3c3bcd9-9897-3b7e-880d-e93105f13a36","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"f0a3c3b1-5edf-3b76-d376-9a58e0c8ee7a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"1425b8e6-ba63-37e2-811a-8881c1be38e1","instanceIdentifier":"af1c26f6-8eb0-3478-e76b-10f67cfa416b","name":"","source":{"id":"a3ce1fa7-31f7-3dd6-b73f-51c2f2fb9c93","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"5f641ebd-e439-310c-0e10-869ffcc6c6a5"},"destination":{"id":"fa6ee75e-0064-3913-b058-b0646aeb1b62","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"328a02cf-2d40-3a5b-4190-b24931fda334"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"a5917311-e116-36d0-a081-5aa8b7a83048","instanceIdentifier":"18fb850c-7328-3ffd-ffdd-77e26feacdd4","name":"","source":{"id":"4c44611d-f790-37d0-8537-5ec452e3734b","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"da966dae-b645-3d6a-890d-9ba37464cd3d"},"destination":{"id":"b3c3bcd9-9897-3b7e-880d-e93105f13a36","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"f0a3c3b1-5edf-3b76-d376-9a58e0c8ee7a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"2106593d-6d66-3272-823c-7d47624e3826","instanceIdentifier":"953d7d36-f219-3e09-6b53-3edb57af1dd0","name":"","source":{"id":"062d3656-46f7-3604-8142-485b15332905","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpRequest","comments":"","instanceIdentifier":"4c35b508-ec4d-32fb-3e72-b5cf4cd3873d"},"destination":{"id":"5f788c76-0b8d-3ff3-a806-6f54b670a969","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"de8fe5a4-bd31-31c5-ad05-17fa3adf8329"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"da2f4270-5c44-3572-819f-d17c0d32b306","instanceIdentifier":"44278af1-0a58-3e0d-dac1-de07546ffd6a","name":"","source":{"id":"a3ce1fa7-31f7-3dd6-b73f-51c2f2fb9c93","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"5f641ebd-e439-310c-0e10-869ffcc6c6a5"},"destination":{"id":"90b33c7e-b176-3b4b-80ee-b4bcdf777571","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"4f484d6b-006b-34ab-705b-ae84eaa2c1a7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"0e4019ce-74e4-312a-9b50-be0b2d70a2f0","instanceIdentifier":"1b9aec6a-44c6-3d18-e273-322cdad72157","name":"","source":{"id":"062d3656-46f7-3604-8142-485b15332905","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpRequest","comments":"","instanceIdentifier":"4c35b508-ec4d-32fb-3e72-b5cf4cd3873d"},"destination":{"id":"9805699b-9d76-3b77-bdee-a71aa9fa5c23","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"237b545d-6731-3c71-72ab-747a17be65a1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"bade2843-a3c2-38c6-9aa7-842586dcdc2e","instanceIdentifier":"87ae47a6-5c2c-38af-11a1-55a2f157f530","name":"","source":{"id":"062d3656-46f7-3604-8142-485b15332905","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpRequest","comments":"","instanceIdentifier":"4c35b508-ec4d-32fb-3e72-b5cf4cd3873d"},"destination":{"id":"693a3c0b-7a59-3dda-8f44-40ebe17e3145","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"97d498e0-5c73-3494-6589-e49fb620434c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"c5e05e9d-dfc7-35f6-afb9-41b9b7df87b1","instanceIdentifier":"9f0d6570-638b-33e1-c0f0-7d9a6ae4f02d","name":"","source":{"id":"48562ace-78c8-3e71-8021-104009b8244d","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"75a85891-975c-3c1e-cacb-0b8465e5b391"},"destination":{"id":"e3666216-51da-3497-86aa-e44d8e926aa5","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutFile","comments":"","instanceIdentifier":"2a62d3da-cc92-3fe9-4ca0-94264c836a04"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"4e43f0e9-c6e2-32c5-a12d-f3b42d0351ea","instanceIdentifier":"75bf8fce-a749-3602-5cd9-5f6c1e2f9eb2","name":"","source":{"id":"4c44611d-f790-37d0-8537-5ec452e3734b","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"da966dae-b645-3d6a-890d-9ba37464cd3d"},"destination":{"id":"c55ea383-357f-3de6-985c-506e046db58b","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"34f5c2e2-ea83-3916-7b98-f49209e785f2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"e246be0f-9ef5-3bb8-8ee1-0aa423e959ec","instanceIdentifier":"9eca188e-0191-1000-fe6e-fd7a855c46e5","name":"","source":{"id":"4bc9a459-4982-3283-9a0b-eb9398827201","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ExecuteSQL","comments":"","instanceIdentifier":"40bc247e-e6dd-3944-a152-2a21e75d6482"},"destination":{"id":"b56ed61a-e87f-349f-8ed4-fb83fb07e605","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ConvertRecord","comments":"","instanceIdentifier":"9ec9fcc3-0191-1000-8424-1b4567a758e5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"b4d5d2c6-5ded-3aac-8324-71fc6b9d61d8","instanceIdentifier":"ee3a36c2-908f-1b62-5811-f3a5f551c563","name":"","source":{"id":"d68bbba7-58aa-3441-998a-266dd2c293bb","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"ee3a36c0-908f-1b62-5de0-00942b7397b7"},"destination":{"id":"b1e3aa45-2977-3ac7-a671-792f69d489c0","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutFile","comments":"","instanceIdentifier":"76c338ed-cb05-1426-ab11-ef5b063793ea"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"fc42eaa8-efac-3377-a598-89770b6a2849","instanceIdentifier":"9181f2a3-ca2e-3830-39ef-f6990af4309e","name":"","source":{"id":"b3c3bcd9-9897-3b7e-880d-e93105f13a36","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"f0a3c3b1-5edf-3b76-d376-9a58e0c8ee7a"},"destination":{"id":"85b1107c-9a67-370a-b047-2d85c68ab78c","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutFile","comments":"","instanceIdentifier":"52a452aa-1854-379d-0f46-be65fbdb8e56"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"2e91b75a-d743-382b-bfd9-959b194ffc0f","instanceIdentifier":"1a93bb4f-8698-3650-97f3-c0ebe6df141d","name":"","source":{"id":"f0bb2e01-d177-337f-aba0-3c4e90b6091e","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8ae10976-72e6-376c-edb5-43a52ddbb2c4"},"destination":{"id":"4c44611d-f790-37d0-8537-5ec452e3734b","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"da966dae-b645-3d6a-890d-9ba37464cd3d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["http.method"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"122d56de-b080-31e0-9366-ae9a5aa861e3","instanceIdentifier":"ee3a36c6-908f-1b62-b42e-7ef73b4b426d","name":"","source":{"id":"4bc9a459-4982-3283-9a0b-eb9398827201","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ExecuteSQL","comments":"","instanceIdentifier":"40bc247e-e6dd-3944-a152-2a21e75d6482"},"destination":{"id":"336aad24-98b7-348c-8ec5-1489acdaed55","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"ee3a36c5-908f-1b62-2ced-10a06c162bcf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"393adc6c-477e-335d-8d80-547628b0a477","instanceIdentifier":"ee3a36c9-908f-1b62-2d1d-a4f61ecbfa5e","name":"","source":{"id":"ce4a6561-66ab-358f-9c99-9f7134bf43e9","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ExecuteSQL","comments":"","instanceIdentifier":"ba84718a-2df2-3790-7619-15290c1071db"},"destination":{"id":"ef5317e7-6ffd-3e91-bf8b-8ef9bfe6c42d","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"ee3a36c8-908f-1b62-bd5b-7424964a16aa"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"be19f1f1-e42b-321b-8573-0916e53caa44","instanceIdentifier":"032ddb41-c41c-3df6-e68e-840780f5a7a0","name":"","source":{"id":"ce4a6561-66ab-358f-9c99-9f7134bf43e9","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ExecuteSQL","comments":"","instanceIdentifier":"ba84718a-2df2-3790-7619-15290c1071db"},"destination":{"id":"36c2cbb0-a3b7-38b6-a1f0-909ae76d648e","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ConvertRecord","comments":"","instanceIdentifier":"85c525eb-d062-37f9-ba5a-d89290285bbd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"927b2923-1cc8-395a-ad5f-5a5cb8d3d1b7","instanceIdentifier":"68b1c72e-f3b0-30c1-5dc7-82ba64df4077","name":"","source":{"id":"4bc9a459-4982-3283-9a0b-eb9398827201","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ExecuteSQL","comments":"","instanceIdentifier":"40bc247e-e6dd-3944-a152-2a21e75d6482"},"destination":{"id":"8722c7f8-638a-3e22-b9e7-6e9e12e741b1","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"5b62908f-ee3a-36c0-cab1-e406e3a9e6b3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"bf19affd-a6a9-33a9-8af4-1266a3c76715","instanceIdentifier":"ed386663-f8c9-3a21-34bd-78d438041c03","name":"","source":{"id":"19ceadaa-adea-302f-b567-a8487758b176","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"f1a25b15-c781-3fbc-e79d-2ae6bb5b04a9"},"destination":{"id":"ef148f02-3b9b-367c-a91b-3ab9106f90c0","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutFile","comments":"","instanceIdentifier":"882ff45f-e364-3586-c24d-64933d92bbfa"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"f22b9cc3-72ff-32d8-bf1e-0b94a444ebd2","instanceIdentifier":"557ee8b2-a5a1-349c-1665-193b5702ba30","name":"","source":{"id":"8357338e-0563-3f9c-9c9a-e06a09171b13","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"a42ab29b-a7b7-3b8a-8d60-4164d9193ac1"},"destination":{"id":"45444c18-b186-30eb-823c-120b54d35726","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"e62738bc-ff7a-3d73-77b5-0ab8d22afe79"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"75cee55c-40f4-3b3f-bff0-80fc16e966da","instanceIdentifier":"d248f48a-35dc-3584-3392-5ace611b0bb0","name":"","source":{"id":"693a3c0b-7a59-3dda-8f44-40ebe17e3145","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"97d498e0-5c73-3494-6589-e49fb620434c"},"destination":{"id":"2d148189-4fe8-38fc-b70e-bbd21751bcba","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"041e5256-d4a7-37c8-bff6-2b0786b634be"},"labelIndex":0,"zIndex":0,"selectedRelationships":["http.method"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"f962ea69-c19c-3a4f-b2cd-c3bdadc4e808","instanceIdentifier":"064fc97d-fcca-3f9c-3333-87a52a50345b","name":"","source":{"id":"8357338e-0563-3f9c-9c9a-e06a09171b13","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"a42ab29b-a7b7-3b8a-8d60-4164d9193ac1"},"destination":{"id":"ad56d6c3-3206-3945-b113-0315e50c5899","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"38d39c7d-3f0c-34b3-3aa4-1e4964623064"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"d07fd7a1-2cc8-3097-8025-61d270874def","instanceIdentifier":"b20495a9-1e01-3a6b-e799-c51f9c4c6662","name":"","source":{"id":"36c2cbb0-a3b7-38b6-a1f0-909ae76d648e","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ConvertRecord","comments":"","instanceIdentifier":"85c525eb-d062-37f9-ba5a-d89290285bbd"},"destination":{"id":"bc6fef1e-e064-3c68-8501-3c8c4675ac87","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"918662a7-634b-3776-3967-f9fa182b0195"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"d5030a17-c0af-375c-9932-b6b571c2d13d","instanceIdentifier":"4e9e526b-106c-32ca-56a8-efe1f893f366","name":"","source":{"id":"062d3656-46f7-3604-8142-485b15332905","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpRequest","comments":"","instanceIdentifier":"4c35b508-ec4d-32fb-3e72-b5cf4cd3873d"},"destination":{"id":"f0bb2e01-d177-337f-aba0-3c4e90b6091e","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8ae10976-72e6-376c-edb5-43a52ddbb2c4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"3b1e1fa9-befa-329b-a8bf-6b2ced192bd0","instanceIdentifier":"d4c8af7d-16e0-385c-6b07-8f47096d0cb7","name":"","source":{"id":"8722c7f8-638a-3e22-b9e7-6e9e12e741b1","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"5b62908f-ee3a-36c0-cab1-e406e3a9e6b3"},"destination":{"id":"14eec3a8-3aa4-33ea-b08d-bc7c8a5fd068","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutFile","comments":"","instanceIdentifier":"2426cb05-76c3-38ed-07f2-42a1764d93cb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"38937a8b-08a0-3e04-92f3-c5e5d92dc01d","instanceIdentifier":"c4517716-518e-3df5-1bfc-637d87790a40","name":"","source":{"id":"4c44611d-f790-37d0-8537-5ec452e3734b","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"da966dae-b645-3d6a-890d-9ba37464cd3d"},"destination":{"id":"6a2e2853-19ca-3538-b41b-ae8bdd7ffa06","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"67bdbd5e-b895-3d55-71dd-3f716690ee5d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"9d70382d-411c-3ba3-a091-6f7031796466","instanceIdentifier":"7b0a0293-40ec-32f4-0391-224820e7685b","name":"","source":{"id":"ad56d6c3-3206-3945-b113-0315e50c5899","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"38d39c7d-3f0c-34b3-3aa4-1e4964623064"},"destination":{"id":"48562ace-78c8-3e71-8021-104009b8244d","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"75a85891-975c-3c1e-cacb-0b8465e5b391"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"36cd975f-28f7-3f1c-879d-2fccc1ce8b1e","instanceIdentifier":"0af495d6-14f7-3708-7261-f5a29f6afe5d","name":"","source":{"id":"2d148189-4fe8-38fc-b70e-bbd21751bcba","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"041e5256-d4a7-37c8-bff6-2b0786b634be"},"destination":{"id":"ce4a6561-66ab-358f-9c99-9f7134bf43e9","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ExecuteSQL","comments":"","instanceIdentifier":"ba84718a-2df2-3790-7619-15290c1071db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["http.request.uri"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"039dd1a0-4454-35f5-bb60-eb6d3510cf94","instanceIdentifier":"a46c5397-1ba2-3fb5-02a5-b7824eae188b","name":"","source":{"id":"9805699b-9d76-3b77-bdee-a71aa9fa5c23","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"237b545d-6731-3c71-72ab-747a17be65a1"},"destination":{"id":"8357338e-0563-3f9c-9c9a-e06a09171b13","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"a42ab29b-a7b7-3b8a-8d60-4164d9193ac1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["http.method"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"4812242b-9add-31b1-8097-3b5f6d717b3c","instanceIdentifier":"393d82f8-7ccd-3d53-dbf5-99c2008f76d0","name":"","source":{"id":"8357338e-0563-3f9c-9c9a-e06a09171b13","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"a42ab29b-a7b7-3b8a-8d60-4164d9193ac1"},"destination":{"id":"48562ace-78c8-3e71-8021-104009b8244d","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"75a85891-975c-3c1e-cacb-0b8465e5b391"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"7e949f53-daaf-3d9a-a397-5dda845051b0","instanceIdentifier":"ba275cea-bd62-3273-deef-379bec1d4a44","name":"","source":{"id":"5f788c76-0b8d-3ff3-a806-6f54b670a969","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"de8fe5a4-bd31-31c5-ad05-17fa3adf8329"},"destination":{"id":"a3ce1fa7-31f7-3dd6-b73f-51c2f2fb9c93","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"5f641ebd-e439-310c-0e10-869ffcc6c6a5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["http.method"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"713811da-e0c3-3741-988a-66e931d8d3c7","instanceIdentifier":"78e1262f-9b9b-3c0b-de35-65690a996527","name":"","source":{"id":"a3ce1fa7-31f7-3dd6-b73f-51c2f2fb9c93","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"5f641ebd-e439-310c-0e10-869ffcc6c6a5"},"destination":{"id":"19ceadaa-adea-302f-b567-a8487758b176","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"f1a25b15-c781-3fbc-e79d-2ae6bb5b04a9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"7544194d-1f8f-369a-81cb-f05a7775fbdd","instanceIdentifier":"5c0fccdc-9847-37a5-8228-156a73f533a9","name":"","source":{"id":"fa6ee75e-0064-3913-b058-b0646aeb1b62","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"HandleHttpResponse","comments":"","instanceIdentifier":"328a02cf-2d40-3a5b-4190-b24931fda334"},"destination":{"id":"19ceadaa-adea-302f-b567-a8487758b176","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"f1a25b15-c781-3fbc-e79d-2ae6bb5b04a9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"cee07362-7dc9-36a8-bfc4-aab85bb2f104","instanceIdentifier":"ee3a36c1-908f-1b62-f0f8-a6e817356c37","name":"","source":{"id":"ce4a6561-66ab-358f-9c99-9f7134bf43e9","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"ExecuteSQL","comments":"","instanceIdentifier":"ba84718a-2df2-3790-7619-15290c1071db"},"destination":{"id":"d68bbba7-58aa-3441-998a-266dd2c293bb","type":"PROCESSOR","groupId":"80742bc3-7f71-363b-97bf-a95b70fa253e","name":"LogAttribute","comments":"","instanceIdentifier":"ee3a36c0-908f-1b62-5de0-00942b7397b7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"1fa2b850-227f-3e6e-902e-8064fd748264","instanceIdentifier":"fd003649-92c0-3f9d-9378-d55f9395d87e","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"dcb2c18e-f4f4-3b38-a8c0-5e32c8125d6d","instanceIdentifier":"8ba58a88-9664-37cc-5cc9-39c74d27a822","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.0.0-M4"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"14ddd474-a68f-35e2-8dc8-aa8b267a0650","instanceIdentifier":"7cc9ad27-6b7c-31dc-b0b7-7bcf998a0860","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M4"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:mysql://localhost:3306/hotel_reservations","dbcp-time-between-eviction-runs":"-1","Database User":"root","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"C:\\Users\\YS\\Desktop\\NiFi\\nifi-2.0.0-M4-bin\\nifi-2.0.0-M4\\lib\\mysql-connector-j-9.0.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"e9fe22da-8084-3395-b62f-c5c0fc71d42d","instanceIdentifier":"c652bafa-e351-350c-dbac-3a9d2b18a61a","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"},{"identifier":"81c03ad4-b354-3bd4-bab1-a2d2e3a1b4ef","instanceIdentifier":"5dca07ac-da96-3605-362d-6f375cadedd5","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"80742bc3-7f71-363b-97bf-a95b70fa253e"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}